h1 {
  color: blue;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}
h2 {
  font-family: fantasy;
  color: purple;
}
ul {
  line-height: 40px;
}
body {
background-color: lightblue;
}
